/*--- NAVBAR ----*/
.navbar {
    background-color: #1A2366;
}

#navb ul li a {
    color: #FFFFFF;
}

#navb ul li .dropdown-menu .dropdown-item {
    color: #1A2366;
}

#log-in:hover,
#sign-in:hover,
#my-account:hover,
#btn-search {
    background-color: #EF9F0B;
    color: #1A2366;
}

#log-in,
#sign-in,
#my-account{
    margin-left: 5px;
    margin-right: 5px;
    background-color: #1A2366;
    border-color: #EF9F0B;
    color: #EF9F0B;
    display: block;
}

#my-account {
    display: none;
}

/*-------------*/



/*--- LOGO ----*/
.logo {
    padding-top: 10%;
    max-width: 300px;
    height: auto;
}

/*-------------*/



/*--- SEARCH ----*/
#search-form {
    max-width: 625px;
    width: 60%;
}

/*-------------*/



/*--- CAROUSEL ----*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.container-slides {
    margin: auto;
    max-width: 700px;
    max-height: 250px;
}

#bg-slides {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0px;
}

/*-------------*/



/*--- GALLERY ----*/
.gallery h2,
.gallery p {
    color: #1A2366;
}

.gallery a p:hover {
    color: #EF9F0B;
    text-decoration: underline;
    text-decoration-color: #EF9F0B;
}

/*-------------*/



/*--- FOOTER ----*/
footer {
    background-color: #1A2366;
    color: #FFF;
}

a.footer-text {
    color: #EF9F0B;
    margin-bottom: 30px;
}

footer .icons {
    padding-top: 5px;
    padding-bottom: 15px;
    max-width: 30px;
    height: auto;
}

/*-------------*/
